 .icons{  
   display: none;
}
nav{
   background-color: black;
   height: 70px;
   width: 100%;
   margin-top: 2%;
}
ul{
   float:left;
   margin-left: 15%;
}
ul li{
   margin:0 ;
   position:relative;
   display: inline;
}
ul li a{
   font-size: 18px;
   font-family: sans-serif;
   color: white;
   text-decoration: none;
   padding-right: 20px;
   padding-left: 15px;
   float: left;
}
ul li a:hover{
 color:#6e7681;
}

.socialtop{
   float: right;
   margin-right: 5%;
   padding: 27px 15px;
   max-width: 100%;
   color: orange;
}
.socialtop a{
   padding: 13px;
} 
 body{
    background-color:black;
    height: 50px;
    padding: 0px ;
 }
 .s{
    margin-right: 20%;
 }
 #h{
     float: left;
    color:#FDFEFE;
    font-family:sans-serif;
    padding-left: 55px;
    font-size: 50px;
 }
 .img{
  
   height: 100%;
   width: 100%;
   background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
 }
 .img-r{
   padding-left: 800px;
   width: 5px ;
   height: 10px;
   margin-top:-10%;
 }
.container{
   width: 400px;
   height: 200px;
   margin: 50px auto;
   position: relative;
   float: right;
   margin-right: 100px;
   border: solid;
   padding: 20px;
}

#footer{
   width: 100%;
   height: 200px;
   background-color: #6e7681;
   clear: both;
 margin-top:15%;
}
#footer ul{
   float:left;
   margin-left: 25%;
}
#footer ul li{
   margin:0 ;
   position:relative;
   display: inline;
}
#footer ul li a{
   font-size: 18px;
   font-family: sans-serif;
   color: white;
   text-decoration: none;
   padding: 12px;
   float: left;
   margin-top: 8%;
}
#footer ul li a:hover{
   color: black;
  
}
#footer .socialtop{
   float: left;
   margin-left: -29%;
   margin-top: 7%;
   padding: 27px 15px;
   max-width: 100%;
}
#footer .socialtop a{
   padding: 13px;
   color: orange;
   text-align: center;
}
#footer.socialtop a:hover{
   color: orange;
}
#footer p{
   margin-left: 30%;
   color:white;
   font-size: 16px;
 display:inline;
 margin-top:4%;
 text-align:center;
}


/*--------------about css-----------*/


#abt{
   text-align: center;
   font-family: sans-serif;
   font-size: 30px;
}
#pa{
   text-align: center;
   font-family:sans-serif; 
   font-size: 20px;
   color: #4A235A ;
   margin-left: 28%; 
   margin-top:-12%;
}

.container{
   width: 400px;
   height: 200px;
   margin: 50px auto;
   position: relative;
   float: right;
   margin-right: 100px;
   border: solid;
   padding: 20px;
}
.container p{
   margin: 0;
   padding: 0;
   font-family: serif;
   font-size: 20px;
   color: #C0392B;
   text-align: center;

}


/*---------our services css------*/


.course-p{
   text-align: center;
   font-family:sans-serif; 
   font-size: 24px;
   margin-left: 28%; 
   margin-top:-13%;
}
.course-p p{
   color: #4A235A ;
}



/*-------contact us css---------*/ 
.banner{
   background-image: (cnctus.jpeg.jpeg) ;
   background-repeat: no-repeat;
   width: 1050px;
   height: 550px;
   padding-left: 4%;
   margin-left: 7%;
}
.contact-info{
   color: #3B2754 ;
   font-family: sans-serif;
   max-width: 500px;
   line-height: 65px;
   padding-left: 50px;
   font-size: 25px;
}
.contact-section{
   width: 160%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.contact-info i{
   margin-right: 20px;
   font-size: 25px;
}
